@import 'normalize.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variables

$display-width--desktop: 160rem;
$display-width--tablet: 76.8rem;
$display-width--mobile: 32rem;

$font--main: 'Montserrat', Arial, sans-serif;

$text-size--basic: 1.2rem;
$text-size--h2: 2.5rem;
$text-size--h3: 2rem;
$text-size--paragraph: 1.5rem;
$text-size--h2-mobile: 1.8rem;

$color--main: #3145ff;
$color--secondary: #eb2d66;
$color--black: #000000;
$color--white: #ffffff;
$color--text-main: #2a2d46;
$color--text-secondary: #9094b8;
$color--text-light: $color--white;

// Mixins

// Placeholders