.container {
  max-width: 147rem;
  margin: 0 auto;
  padding-right: 15rem;
  padding-left: 15rem;
}

.header {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
  }

  &__logo {}

  &__icon-logo {
    fill: $color--main;
  }

  &__logo-description {}

  &__logo-title {
    color: $color--main;
  }

  &__logo-subtitle {}

  &__menu {}

  &__menu-body {}

  &__menu-list {
    display: flex;
    gap: 1.25rem;
  }

  &__menu-item {}

  &__menu-link {}

  &__icon-basket {
    fill: $color--secondary;
  }

  &__contact-info {}

  &__contact-info-container {}

  &__contact-info-phone {}

  &__cart {}
}

.main {

  &__section {
    margin-bottom: 9.6rem;
  }
}

.start {

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 6.6rem;
    padding-bottom: 2.1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 54.4rem;
  }

  &__title {
    font-size: $text-size--xxxl;
    font-weight: 900;
    line-height: 4.388rem;
  }

  &__text {
    max-width: 38rem;
    font-size: $text-size--xxl;
    line-height: 2.572rem;
  }

  &__catalog-button {}

  &__visual {
    position: relative;
    top: -4.5rem;
    left: 16rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 61.5rem;
    height: 36.9rem;
    padding: 6rem 2.7rem 2.9rem;
    overflow: visible;
    background-image: linear-gradient(rgba(49, 69, 255, 0.6), rgba(49, 69, 255, 0.6)), url('./assets/images/main-background.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 20.5rem;

    &::before {
      position: absolute;
      top: 10.5rem;
      right: 24.8rem;
      z-index: 1;
      width: 55.4rem;
      height: 33.25rem;
      background-image: url('./assets/images/sneakers.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      content: '';
    }
  }

  &__visual-content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 23.5rem;
    color: $color--white;
    gap: .3rem;

    &::before {
      position: absolute;
      top: -1.5rem;
      left: -1.5rem;
      z-index: 1;
      width: 1.3rem;
      height: 1.3rem;
      background-color: white;
      content: '';
    }
  }

  &__visual-title {
    font-size: $text-size--xl;
    font-weight: 700;

  }

  &__visual-text {}

  &__visual-price {
    font-weight: 700;

  }

  &__switches {}

}

.hot {

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8.2rem;
  }

  &__content {
    display: flex;
    gap: 8.9rem;
  }

  &__title {
    font-size: $text-size--h2;
    font-weight: 900;
    line-height: 3.048rem;
    text-wrap: nowrap;
  }

  &__menu-body {}

  &__menu-list {
    display: flex;
    gap: 5.35rem
  }

  &__menu-item {}

  &__menu-link {
    font-size: $text-size--paragraph;
  }

  &__slider {}
}